.ui.card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;

    >.extra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}